@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-nm13zp');
	src:url('../fonts/icomoon.eot?#iefix-nm13zp') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-nm13zp') format('woff'),
		url('../fonts/icomoon.ttf?-nm13zp') format('truetype'),
		url('../fonts/icomoon.svg?-nm13zp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal; 
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
	content: "\ea8d";
}

*
{
	margin: 0;
	padding: 0;
}
body
{
	background-image: url("../images/fondo1.jpg");
	font-family: arial;
	font-size: 20px;
}
footer
{
	background: #607D8B;
	text-align: center;
	padding: 0.5em;
}
footer div
{
	margin: 0.7em;
}
header
{
	background: #009688;
	background-image: url("../images/header.jpg");
	color: white;
	overflow: hidden;@import url( );
	position: relative;
	height: 100%;
}

header figure
{
	float: left;
}
header figure img
{
	width: 100px;
	margin: 0.4em;
}
header h1
{
	text-align: center;
	font-family: arial;
	font-size: 2.5em;
	
	color: yellow;
	margin: 0.7em 70px 0 0;
}
header a
{
	padding: 0.5em;
	color: white;
	background: #ff4842;
	border-radius: 10px;
	margin: 2em 0.5em 0 0;
	position: absolute;
	right: 0;
	top: 0; text-decoration: none;
	font-family: arial;
	
}
header a:hover
{
	background: #7dcd40;
	text-decoration: none;
	color: white;
	font-family: arial;
}

#facebook
{
	padding: 1.5em;
	text-align: center;
	display: none;
}
#facebook a
{
	background: #133783;
	border-radius: 4px;
	color: white;
	text-decoration: none;
	padding: 1em;
	font-family: arial, icomoon;
}
.img-footer
{
	width: 200px;
	margin-top: 0.7em;
	margin-bottom: -0.5em;
}
#box-img
{
	margin: 1em;
}
@media screen and (max-width: 650px) {
	header a
	{
		display: none;
	}
	#facebook
	{
		display: inline-block;
		
	}
	#box-img
	{
		margin: 0;
	}
}
@media screen and (max-width: 400px) {
	#box-img
	{
		display: none;
	}
}